<mat-dialog-content>
  <h5>Edit {{ data.name }}</h5>
  <form [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <mat-label>No.</mat-label>
        <input matInput formControlName="position" />
        <mat-error *ngIf="isInvalid('position','required')">
          Field required
        </mat-error>
        <mat-error *ngIf="isInvalid('position','pattern')">
          Must be a number
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="isInvalid('name','maxlength')">

          Max 12 letters
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Weight</mat-label>
        <input matInput formControlName="weight" />
        <mat-error *ngIf="isInvalid('weight','required')">
          Field required
        </mat-error>
        <mat-error *ngIf="isInvalid('weight','pattern')">
          Must be a number
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Symbol</mat-label>
        <input matInput formControlName="symbol" />
        <mat-error *ngIf="isInvalid('symbol','maxlength')">
          Max 5 letters
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="handleClickClose()">Close</button>
  <button mat-button class="save" [disabled]="formGroup.invalid" [mat-dialog-close]="editedElement">
    Save
  </button>
</mat-dialog-actions>
