<mat-dialog-content>
  <p>Edit:</p>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>No.</mat-label>
      <input matInput formControlName="position" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <div >
        <small *ngIf="isFieldInvalid('name')">Max 20 letters</small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" />
      <div >
        <small *ngIf="isFieldInvalid('symbol')">Max 5 letters</small>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="handleClickClose()">Close</button>
  <button mat-button [disabled]="formGroup.invalid" [mat-dialog-close]="editedElement" cdkFocusInitial>
    Save
  </button>
</mat-dialog-actions>
